body{
    font-family: 'Montserrat', sans-serif;
}
.row{
    margin: 0;
}
.container{
    padding: 0
}
.first{
    background-image: url(../img/first.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 465px;
}
.first h1{
    font-size: 70px;
    color: #fff; 
    text-transform: uppercase;
    padding-top: 260px;
    padding-left: 20%
}

.second{
    padding-top: 160px;
    padding-bottom: 55px;
}
.second h3{
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    margin-top: 90px;
}
.second p{
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 2
}
.forin{
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 58px;
}
form textarea{
    height: 125px;
     width: 100% ;
     padding-left: 10px;
     padding-top: 10px;
     border: 0
}
form input,
form textarea{
    background-color: #e5e5e5 !important;
    color: #000000 !important;
    font-size: 14px;
    border-radius: 0 !important
}
form input::placeholder{
    color: #000000 !important;
}
.form-group{
    margin-bottom: 30px;
}
.form-group:last-of-type{
    margin-bottom: 45px;
}

form button{
    display: inline-block;
    font-size: 24px;
    color: #f5f5f5 !important;
    height:35px;
    line-height: 35px;
    text-align: center;
    background: #01a89e !important;
    width: 145px;
}
.second button:hover{
    background: #01837a !important;
}





@media (min-width: 320px){
    .fort{
        padding-left: 15px 
    }
}
@media (min-width: 992px){
    .fort{
        padding-left: 120px
    }
}
